# Бинарные файлы (результат сборки)
*.exe
*.exe~
*.dll
*.so
*.dylib
bin/
main

# Зависимости (если вы их скачиваете локально в vendor)
# vendor/ 

# Временные файлы редакторов
.vscode/
.idea/
*.swp
*.swo

# Логи и кэш
*.log